body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.containerMovie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.containerMovieCard{
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: coral;
  padding: 10px;
  margin: 0 10px 10px 10px;
  box-sizing: border-box;
}

.containerMovieCard h2{
  max-width: 100%;
  text-align: center;
}

.containerMovieCard img {
  border-radius: 30px;
  height: 70%;
}

.no-photo{
  border-radius: 30px;
  height: 70%;
  width: 100%;
}

.genre_container{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 5px 0;
}

.genre_select{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.genre_select_btn{
  width: 150px;
  margin: 20px auto;
}

.genre_select_btn button{
  width: 200px;
  font-size: 20px;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  border: none;
}

.genre_select_btn button:hover{
  background-color:#4095c6;
  cursor: pointer;
}

 .star{
   background: #2d2a2a;
}

 .pag-wrap{
   width: 500px;
   margin: 20px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .pag-btn{
   border: 1px solid #ddd;
   padding: 15px 40px;
   box-sizing: border-box;
   border-radius: 10px;
 }

 .checkbox-el{
   font-size: 20px;
 }

 .movie-container{
   height: 92vh;
   position: relative;
 }

 .movie-wrapper{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 90vh;
 }

 .movie-container_content{
   max-width: 750px;
   max-height: 750px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .no_info{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   font-size: 40px;
 }

 .back-icon{
   font-size: 40px;
   position: absolute;
   top: 75px;
   left: 330px;
 }

.back-icon:hover{
  cursor: pointer;
}

/*Dark Theme*/

#dark{
  background: #2d2a2a;
  color: white;
  transition: 1s;
}

#dark a{
  color: white;
}

#dark body{
  background: #2d2a2a;
  color: white;
  transition: 1s;
}

#dark .containerMovieCard{
  background: darkslategray;
  transition: 1s;
}

#dark .wrapper{
  background: SteelBlue;
  transition: 1s;
}

#dark .icon{
  color: black;
  transition: 1s;
}

/*Light Theme*/

#light{
  color: black;
  background: silver;
  transition: 1s;

}

#light a{
  color: black;
}

#light .containerMovieCard{
  background: coral;
  transition: 1s;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: teal;
  height: 100px;
  color: white;
}

.icon{
  font-size: 23px;
}

.icon:hover{
  cursor: pointer;
}
